.component {
  display: flex;
  margin: 0;
  padding: 1rem;
  border: 1px solid var(--box-border-color);
  border-radius: 4px;
  width: 100%;
  height: 10rem;
  box-shadow: var(--shadow-inset);
  overflow: auto;
  white-space: pre;
  color: var(--gray);
  font-size: 12px;
  line-height: 2em;
  letter-spacing: .1em;
}

.lines {
  margin-right: 1em;
  padding-right: .5em;
  border-right: 1px solid var(--separator-color);
  width: min-content;
  height: max-content;
  user-select: none;
}

.numbers {
  display: block;
  text-align: right;
  width: 100%;
}
